.ph-img {
	max-width: 40px;
	max-height: 40px;
}

@mixin scrollbar-style($bar-bgc : white, $bar-color: lightgray, $bar-hover : darkgray, $bar-press: gray){
	&::-webkit-scrollbar{
		width : 8px;
		
		background-color: $bar-bgc;
	}
	
	&::-webkit-scrollbar-thumb{
		background-color: $bar-color;
		&:hover{
			background-color: $bar-hover;
		}
		&:active{
			background-color: $bar-press;
		}
	}
}

:root {
	scrollbar-width: thin;
	@include scrollbar-style;
}


body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightcyan;
	height: 100vh;
}
.container {
	display: grid;
	grid-template-rows: min-content min-content;
	height: 100vh;
}
.top {
	position: relative;
	z-index: 10;
	padding: 0.3rem 1rem;
	background-color: hsl(215, 35%, 79%);
	box-shadow: 0 2px 4px gray;

	display: flex;
	justify-content: center;
	align-items: center;

	.logo {
		width: 2.5rem;
	}

	.title {
		margin-left: 1rem;
	}
	.dropdown-menu {
		@extend .ph-img;
		margin: 0px 1rem;
	}

	.search-bar {
		position: relative;
		border-radius: 5px;
		margin: 1rem;
		flex: 1;
		&::before {
			position: relative;
			content: "";
			background-image: url("./img/placeholder.png");
			max-width: 30px;
			max-height: 30px;
		}
	}
	.profile-pic {
		@extend .ph-img;
		img {
			width: 100%;
		}
	}
}
.middle {
	display: flex;
}
.hierarchy,
.opened-book,
.editor {
	flex: 1;
	height: 100vh;
	box-sizing: border-box;
	position: relative;
}
.hierarchy {
	min-height: 100%;
	z-index: 4;
	box-shadow: 1px 1px 4px gray;
	background-color: hsl(215, 20%, 86%);
	flex: 1;
	padding-left: 1rem;
	padding-top: 1rem;
	font-size: 1.2rem;
    overflow-y: auto;
	
	.folder-title-text {
		color: hsl(0, 0%, 15%);
	}
	& > .list {
		padding: 0;
        
	}
	.main-folder > .folder-title {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.folder {
		position: relative;
		list-style: none;
		cursor: pointer;
		display: grid;
		grid-template-columns: max-content auto auto;
		grid-template-rows: max-content max-content;

		.folder-hoverer {
			position: absolute;
			width: 100%;
			height: 2.5rem;
			z-index: 10;
		}
		&.title-edit .folder-hoverer {
			z-index: 0;
		}
		// Color of folder change on hover and click
		&:hover::after {
			display: block;
			position: absolute;
			content: "";
			height: 2.5rem;
			width: 100%;
			background-color: hsl(215, 23%, 79%);
			border-radius: 5px;
			order: 0;
		}

		&.selected::after {
			position: absolute;
			content: "";
			height: 2.5rem;
			width: 100%;
			background-color: hsl(215, 23%, 69%);
			border-radius: 5px;
		}

		.folder-hoverer:hover  ~ .folder-more .show-folder-more,
		.folder-more > .show-folder-more:hover {
	
				
			img {
				opacity: 100%;
				
			}
		}
        .folder-more{
            position: relative;
		
				z-index: 11;
				order: 3;
				justify-self: end;
				align-self: center;

			.show-folder-more {
				
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 0.5rem;
				border: none;
				background-color: inherit;
				cursor: pointer;
				img {
					filter: brightness(0%) invert(0.3);
					opacity: 0%;
				}
			}
            .folder-more-tools {
                display: none;


            }

            .folder-more-tools.visible {
                position: absolute;
                background-color: hsl(215, 0%, 91%);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0.2rem;
                border-radius: 8px;
				top : 0;
                right : 100%;

                z-index: 14;
                button {
                    display: flex;
                    align-items: center;
                    border: none;
                    font-size: 1.2rem;
                    &.add-folder {
                        color: green;
                    }
                    &.delete-folder {
                        color: red;
                    }
                }
            }
        }
		//

		.folder-title {
			order: 2;
			z-index: 2;
			width: 100%;
			display: flex;
			align-items: center;
			position: relative;
			.folder-click {
				display: contents;
			}

			margin: 0rem 0;
			padding: 0.4rem 0;
			.ph-img {
				margin-right: 10px;
				width: 25px;
				height: 25px;
			}
			.folder-title-text {
				width: 100%;
				font-size: 1.1rem;
			}
			.folder-title-text:read-only {
				outline: none;
				border: none;
				font-size: inherit;
				background-color: inherit;
				cursor: pointer;
			}
		}

		.list {
			grid-column: 2/-1;
			margin-top: 0;
			order: 5;
			padding-left: 0;
		}

		&::before {
			order: 4;
			content: "";
			width: 0px;

			border: 1px solid hsl(210, 10%, 30%);
			justify-self: center;
		}

		&.collapsed > .list {
			display: none;
		}

		.expand-icon {
			user-select: none;
			order: 1;
			align-self: center;
			z-index: 30;
			img {
				width: 26px;
				height: 26px;
			}
		}

		&.collapsed .expand-icon > img {
			content: url("./img/expand_up.svg");
		}

		&.empty > .expand-icon {
            height : 0;
            overflow: hidden;
		}
	}
}

%opened-box{
	cursor: pointer;
	user-select: none;
	background-color: hsl(210, 15%, 85%);
	border: 1px solid hsl(210, 10%, 60%);
	box-shadow: 0 2px 4px hsl(210, 10%, 20%);
	border-radius: 5px;
	display: flex;
	list-style: none;
	padding: 0.5rem;
	margin: 0.3rem 0.2rem;
	height: 95px;
	position: relative;
}

.opened-book {
	z-index: 3;
	background-color: hsl(215, 20%, 80%);
	box-shadow: 0 1px 4px gray;

	display: flex;
	flex-direction: column;

	.opened-book-title {
		display: flex;

		align-items: center;
		gap: 1rem;
		padding-left: 0.5rem;
		background-color: hsl(215, 23%, 82%);
	}
	.add-file {
		position: relative;
		display: flex;
		padding-bottom: 0.5rem;
		align-items: center;
		gap: 4px;
		.add-note, .add-todo{
			
			&.in-all-notes{
				display : none;
			}
		}
		button {
			border-radius: 10%;
			padding: 0.5rem;
			font-size: 1rem;
		}
		.file-more-button {
			@extend %button1;
			height : 2.1rem;
			img {
				width: 1rem;
			}
		}

		.file-more {
			width: 0;
			height: 0;

			overflow: hidden;
			&.visible {
				display: inline-block;
				width: auto;
				height: auto;

				position: relative;
			}
		}
	}
	.note-list {
		display: flex;
		flex-direction: column;
		justify-content: start;

		padding: 0 0.1rem;
		margin: 0;
		height: 100%;
		overflow-y: scroll;
		scrollbar-color: hsl(212, 57%, 61%) #c2d2e4;
		scrollbar-width: thin;
		@include scrollbar-style(#c2d2e4, hsl(212, 57%, 61%), 
		 hsl(212, 57%, 51%),  hsl(212, 57%, 41%))
	}

	

	.note-main, .todo-main {
		@extend %opened-box;
		flex: 0 0 auto;
		justify-content: space-between;
	
		.note-details-text {
			overflow: hidden;
			max-height: 5rem;
		}

		h3 {
			margin: 0;
		}
		.note-content {
		}

		.note-icon {
			/*background-color: lightpink; width: 95px; height: 95px;*/
		}

		@media (max-width: 800px) {
			.note-icon {
				display: none;
			}
		}

		.note-date,
		.note-status {
			width: 100%;
			position: absolute;
			bottom: 0.2rem;
			display: grid;
			grid-template-columns: max-content 1fr;
			align-items: center;
			.priority{
				justify-self: end;
				margin-right : 1.2rem;
				font-weight: bold;
				border-radius: 10px;
				padding: 0.3rem 0.5rem;
				&.normal{
					background-color: hsl(90, 60%, 60%);
				}
				&.high{
					background-color: hsl(0, 50%, 60%);
				}
				&.low{
					background-color: hsl(203, 50%, 60%);
				}
			}
		}
	}
	.note:focus > .note-main {
		outline: 4px solid hsl(200, 15%, 38%);
	}
	
	.note.deleting .note-main  {
		background-color: red;
		height: 0;
		padding: 0;
		margin: 0;

		transition: 0.3s;
		& > * {
			opacity: 0;
			transition: 0.3s;
		}

		overflow: hidden;
	}
	.todo {

		.todo-top {
			display: flex;
			align-items: center;
			margin-bottom: 0.5rem;
		}
		.note-check {
			position: relative;
			margin-right: 0.2rem;
			height: 28px;

			img {
				position: relative;
				cursor: pointer;
				width: 28px;
				height: 28px;
				filter: brightness(100%) grayscale(100%) invert(0.3);
			}
		}
		&.checked .note-check {
			background-color: hsl(160, 43%, 75%);

			border-radius: 30px;
			img {
				filter: brightness(0%) invert(1);
			}
		}
		.todo-top {
			display: flex;
		}
	}
	
	
	.task-list{
		max-height: 0;
		overflow: hidden;
		transition: 0.5s;
		&.visible{
			max-height: 1200px;
			overflow: auto;
			transition: 0.5s;
		}
		.task{
			@extend %opened-box;
			height : 1.5rem;
			display: grid;
			grid-template-columns: min-content max-content 1fr;
			align-items: center;
			label{
				display: contents;
			}
			input.task-check{
				@extend %checkbox-1;
				margin-right : 0.5rem;
			}
			.task-delete{
				
				justify-self: end;
				align-self: center;
				padding: 0 0;
				img{
					
				}
			}
		}
	}
}

%checkbox-1{
	appearance: none;
	position: relative;
	height: 1rem;
	width: 1rem;
	&:before{
		content: "";
		position: absolute;
		height: 1rem;
		width: 1rem;
		border-radius: 100%;
		background-color:	white;
		outline : 2px dotted gray;
	}
	&::after{
		content: "";
		position: absolute;
		height: 1rem;
		width: 1rem;
		scale: 90%;
		border-radius: 100%;
		background-color: white;	
	}
	&:checked::after{
		background-color:cornflowerblue;
	}	
}

.editor {
	max-width: 0;
	overflow: hidden;
	background-color: hsl(215, 20%, 86%);
	transition-duration: 0.5s;
	

	&.visible {
		max-width: 1500px;	
		transition-duration: 0.5s;
	}

	
	.note-editor {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		.editor-note-save {
		}
		.editor-tools {
			width: 100%;
			height: 1.5rem;
			background-color: hsl(215, 10%, 90%);
			padding: 0.3rem 0.6rem;
			.add-task{
				display: none;
			}
			
		}

		.todo-tools{
			display: none;
		}
		.editor-content {
			margin-top: 2rem;
			padding: 0 1rem;
			

			.editor-note-name {
				margin-bottom: 2rem;
				font-weight: bold;
				font-size: 1.5rem;
				width: 100%;
				background-color: inherit;
				border: none;
			}
			.editor-text {
				word-break: break-all;
				resize: none;
				width: 100%;
				max-height: 100%;
				background-color: hsl(215, 20%, 89%);
				border: none;
				outline: none;
				font-size: 1rem;
			}
		}
		.editor-status {
			overflow: hidden;
			background-color: hsl(215, 23%, 82%);
			height: 1rem;
			width: 100%;
			padding : 0.5rem 0.1rem;
			color : darkslategray;
			margin-top: auto;
			align-self: end;
			p{
				margin: 0;
				padding: 0;
				float: right;
			}
		}
	}
}

%button1{
	background-color: inherit;
	&:hover{
		opacity: 60%;
	}
	border : none;
	padding: 0;
	cursor: pointer;
}

.editor.edit-todo{
	
	.note-editor{
		.editor-tools{
			
			.add-task{
				display: inline-block;
				border-radius: 100%;
				border : none;
				padding: 0;
				cursor: pointer;
			}
			.editor-close{
				float : right;
				margin-right: 0.7rem;
			}
			
		}
		.todo-tools{
			display : flex;
			gap : 5px;

			
			.duedate-box, .priority-box{
				div:first-child{
					display: flex;
					align-items: center;
				
				}
			}
		}
		.editor-text{
			background-color: hsl(215, 10%, 86%);
		}
		.editor-task{
			display: grid;
			grid-template-columns: 1fr min-content;
			.editor-task-content{
				@extend %opened-box;
				height : auto;	
				box-shadow: none;
			}
			.editor-task-delete{
				@extend %button1;
			}
		}
	}
	
	

}

.dialog {
	position: absolute;
	display: none;

}
