.ph-img{
    max-width : 40px;
    max-height : 40px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color : lightcyan;
}
.container{
    
    
    height: 100vh;
    
    
}
.top{
    padding : 0.3rem 1rem;
    background-color: hsl(206, 30%, 74%);
    box-shadow: 0 2px 4px gray;
    grid-column: 1/-1;
    display: flex;
    align-items: center;

    
    .logo{
        max-width : 40px;
        max-height : 40px;
    }

    .title{
        margin-left : 1rem;
    }
    .dropdown-menu{
         @extend .ph-img;
         margin : 0px 1rem;
    }
    
    .search-bar{
        position: relative;
        border-radius: 5px;
        margin : 1rem;
        flex : 1;
    &::before{
        
        position: relative;
        content: "";
        background-image: url("./img/placeholder.png");
        max-width: 30px;
        max-height: 30px;
    }
    }
    .profile-pic{
        @extend .ph-img;
        img{
            width : 100%;
        }
    }

}
.middle{
    display: flex;

  
}
.hierarchy, .opened-book, .note-editor{
    border : 1px solid lightgray;
    flex: 1;
    height : 100vh;
}
.hierarchy{
    
    padding-left: 1rem;
    padding-top : 1rem;
    font-size : 1.2rem;

    .main-folder > .folder-title{
        font-weight: bold;
        font-size: 1.5rem;
        
    }

    .folder{
        
        position: relative;
        list-style: none;
        cursor: pointer;
        display: grid;
        grid-template-columns: 0.2rem max-content;
        grid-template-rows: max-content max-content;
        
        
        
        .folder-title{
            
            grid-column : 1/-1;
            order : 0;
            width: 100%;
            display: flex;
            align-items: center;
            .folder-click{
                display: contents;
                
            }
            
            margin : 0.5rem 0;
            .ph-img{
                margin-right : 10px;
                width : 25px;
                height: 25px;
            }
        
       
        }
        .list{
            margin-top : 0;
            order : 2;         
        }
        &.collapsed > .list{
            display: none;
        }
        
        

        &::before{
            order : 1;
            content : "";
            width: 10px;
            
            
            border-right : 2px solid black;
        }
        
    }

}

.expand-icon{
    img{
        width: 26px;
    
    }
}
.folder.collapsed .expand-icon > img{
    content: url("./img/expand_up.svg");
}

.folder:not(:has(.folder-title + ul > li)) .expand-icon{
    width: 26px;
    height: 26px;
    
    
    img{
        display: none;
    }

} 

.opened-book{
    padding: 0.1rem;
    overflow-y: scroll;
    .opened-book-title{
        display: flex;
        align-items: center;
        gap: 1rem;     
       
    }
    .note-list{
        padding : 0;
    
    }
    .note{
        cursor: pointer;
        background-color: hsl(120, 10%, 90%);
        border : 1px solid hsl(60, 10%, 60%);
        box-shadow: 0 2px 4px gray;
        border-radius: 5px;
    
        display : flex;
        justify-content: space-between;
        margin : 0;
        list-style: none;
        padding: 0.5rem;
        margin: 0.6rem 0.2rem;
        height : 95px;
        position: relative;
        
        .note-details-text{
            overflow: hidden;
            max-height: 5rem;
        }

        h3{
            margin: 0;
            
        }
        .note-content{
           
           
            
        }

        .note-icon{
           /*background-color: lightpink; width: 95px; height: 95px;*/
        }

        @media (max-width: 800px) {
            .note-icon{
                display: none;
                
            }
        }

        .note-date{
            position: absolute;
            bottom : 0.2rem;
        }  
    }
    .note:focus{
        outline : 2px solid hsl(56, 18%, 68%);
    }
}

.todo{
    .task-status{
        position: relative;
        display: none;
        content: "";
        & + label{
            position: absolute;
            cursor: pointer;
            content: url("./img/task-status.svg");
        }
        &:checked + label{
    
        }
    }
    .todo-top{
        display: flex;
    }
}

.note-editor{
    
}